# Tailwind CSS
node_modules/
/dist/

# Compiled Python files
__pycache__/
*.pyc
*.pyo

# IDE settings
.idea/

# Database
db.sqlite3

# Static files (if using collectstatic)
staticfiles/

# Media files
media/

# Local development settings
settings.py

# Ignore environment-specific settings
*.env

# Ignore log files
*.log
# Virtual environment
venv/